<td>{{item.key}}</td>
<td>{{item.name}}</td>
<td>{{item.url}}</td>
<td>{{item.xpath}}</td>
{% if item.values %}
    <td>{{(item.values | latest_update_time).strftime('%d %B %Y %H:%M:%S %Z')}}</td>
    {% with value=(item.values | latest_value) %}
    {% if value is none  %}
        <td> <strong><em>FAILED</em></strong> </td>
    {% else %}
        <td>{{value}}</td>
    {% endif %}
    {% endwith %}
{% else %}
    <td></td><td></td>
{% endif %}
<td>
    <a href="/{{item.key}}" class="button-link">
    <button>Detail</button>
    </a>
    <button hx-post="/{{item.key}}" hx-target="closest tr" hx-swap="innerHTML">Check</button>
    <button hx-get="/edit/{{item.key}}" hx-target="closest tr" hx-swap="innerHTML">Edit</button>
    <button hx-delete="/{{item.key}}" hx-confirm='Are you sure you want to delete "{{item.name}}" ({{item.key}})?' hx-target="closest tr" hx-swap="outerHTML">Delete</button>
</td>